h1{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}
button{
    color: black;
}
body{
    color: crimson;
}
head{
    color: antiquewhite;
}